{% extends '_bootstrap3.html' %}

{% load bootstrap3 %}

{% load staticfiles %}
{% load static %}

{% block bootstrap3_content %}

  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-treetable/jquery.treetable.theme.default.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'jquery-treetable/jquery.treetable.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.css' %}">

  <script type="text/javascript" charset="utf8" src="{% static 'datatables/datatables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.min.js"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/perftracker.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'jquery-treetable/jquery.treetable.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'ecstat/ecstat.min.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/bs3-custom.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatable.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/perftracker.css' %}"/>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand pt_logo" href="http://perftracker.org/"><img src="{% static 'img/Logo50.png' %}"><span>{{ pt_version }}</span></a>
      </div>

      <div class="collapse navbar-collapse" id='navbar-collapse-1'>
        <ul class="nav navbar-nav">

          {% for pair in screens %}
             <li {% if pair.0 == request.resolver_match.url_name %}class="active"{% endif %}>
               <a href="{{ pair.1 }}">{{ pair.0 }}</a>
             </li>
          {% endfor %}
        </ul>

        <ul class="nav navbar-nav navbar-right" id="navbar_right">
          <li class="dropdown" style="display:none;" id="pt_username">
            <a href="#" id="username">username</a>
          </li>

          <li class="dropdown active" id="projects_btn">
            {% if projects|length > 1 %}
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">{{ project.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for p in projects %}
                  <li><a href="/{{ p.id }}/{{ verb }}">{{ p.name }}</a></li>
                {% endfor %}
                <li role="separator" class="divider"></li>
                <li><a href="/0/comparison">All projects</a></li>
              </ul>
            {% endif %}
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="display:none;" id="pt_btn_sign_in">
              <i class="glyphicon glyphicon-user"></i> Sign In
            </a>
            <div class="dropdown-menu form-login stop-propagation" role="menu">
              <div class="form-group">
                <label for="exampleInputEmail1">
                  <i class="glyphicon glyphicon-envelope"></i> Email address
                </label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">
                  <i class="glyphicon glyphicon-lock"></i> Password
                </label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
              </div>
              <button type="submit" class="btn btn-success btn-block" id='pt_btn_sign_in_submit'><i class="glyphicon glyphicon-ok"></i> Submit</button>
            </div>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="display:none;" id="pt_btn_sign_out">
              <i class="glyphicon glyphicon-user"></i> Sign Out
            </a>
          </li>

        </ul>
      </div><!-- /.navbar-header -->
    </div><!-- /.container-fluid -->
  </nav>

  <script>
  $(document).ready(function() {

      var api_ver = '{{ api_ver }}';

      $('#pt_btn_sign_in_submit').click(function () {
          pt_login(api_ver);
      });
      $('#pt_btn_sign_out').click(function () {
          pt_logout(api_ver);
      });

      initialize_nav_bar(api_ver);
  });
  </script>

  <div class="container">
    <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
  </div>

{% endblock %}
