{% extends '_base.html' %}

{% load range_tag %}

{% block title %}Comparison: #{{ obj.id }} / {{ obj.title }}{% endblock %}

{% block content %}
<div class='pt_section'>
  <h3 class='pt_collapse expanded' data-toggle="collapse" data-target="#summary">Summary</h3>
  <div class='collapse in' id='summary'>
    <ul>
      {% for job in jobs %}
        <li>Job #{{ forloop.counter }}: <a href='/{{ project.id }}/job/{{ job.id }}'>{{ job }}</a></li>
      {% endfor %}
    </ul>
    <div class='container'>
      <a class='pt_collapse collapsed' data-toggle="collapse" data-target="#details" href='#'>more details</a>

      <div class='collapse container' id='details'>
        <h4>Comparison: {{ obj }}</h4>
        <div id='comparison_details'>...<br><br></div>
        {% for job in jobs %}
            <h4>Job: {{ job }}</h4>
            <div class='container'><div id='job_details_{{ job.id }}'></div></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div id="main_content_container"></div>

<button class="panel__btn_toggle"><i class="fa fa-angle-down"></i></button>
<div class="panel panel_opened">
    <div class="panel__unit_hide-tables">
        <h4><button onclick="hide_all_tables()">Hide tables</button></h4>
    </div>
    <div class="panel__unit_show-tables">
        <h4><button onclick="show_all_tables()">Show table</button></h4>
    </div>
</div>

{% comment %}

Principal decision is not to use REST api to render comparisons, because:
1. comparisons are heavy so it is preferable to cache rendered HTML
2. it is pretty hard to join results:
   2.a need custom serializer, standard datatable-view will not work
   2.b need custom data join in ORM (join multiple tests from different jobs)

So we will use static HTML with couple tricks:
- group selector will be enabled
- tables with equal tag and different category:
  |- chart will be drawn by default
  |- table will be hidden by default
  `- table will have 20 items per page by default
- tables with unique rows:
  |- chart will be hidden by default
  `- table will be shown with full length by default
- datatable search will not work (will be disabled)
- charts will be rendered after scrolling down to it (and plus 3 charts above and 3 below)

{% endcomment %}


<script>

var api_root = "/api/v{{ api_ver }}/{{ project.id }}/comparison/{{ obj.id }}";
var all_jobs = [{% for job in jobs %}"{{ job.calculated_legend|default:job.title }}", {% endfor %}];
const NOCHART = {{ PTCmpChartType.NOCHART }};
const NOTABLE = {{ PTCmpTableType.HIDE }};

function hide_all_tables() {
    Object.keys(sect_data).map(hide_table);
}

function show_all_tables() {
    if (Object.values(sect_data).filter(s => !s.table_data).length) {
        $.ajax({
            url: api_root + "/tables",
            data: null,
            type: 'GET',
            timeout: 10000,
            success: function (response) {
                Object.keys(response).forEach(s_id => {
                    sect_data[s_id] = Object.assign({}, sect_data[s_id], response[s_id]);
                    show_table(s_id);
                });
            },
            error: function (data, status, error) {
                Object.keys(data).forEach(s_id => table_loading_error_handler(s_id, error));
            }
        });
    }
}

function toggle_table(s_id) {
    var s = sect_data[s_id];
    if (!s.table_data) {
        $.ajax({
            url: api_root + "/group/{0}/section/{1}".ptFormat(0, s_id),
            data: null,
            type: 'GET',
            timeout: 10000,
            success: function (response) {
                sect_data[s_id] = Object.assign({}, sect_data[s_id], response[s_id]);
                show_table(s_id);
            },
            error: function (data, status, error) {
                table_loading_error_handler(s_id, error);
            }
        });
    } else {
        s.table_hidden ? show_table(s_id) : hide_table(s_id);
    }
}

function table_loading_error_handler(s_id, error) {
    if ($("#table_error_" + s_id).length) {
        return;
    }

    var s = "";
    s += "<div id=table_error_{0} class='alert alert-danger alert-dismissable'>".ptFormat(s_id);
    s += "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&#215;</button>";
    s += "Table data loading error: " + error;
    s += "</div>";
    $('#results_' + s_id).append(s);
}

function hide_table(s_id) {
    var s = sect_data[s_id];
    if (!s.table_hidden) {
        $("#results_" + s_id).children().hide();
        s.table_hidden = true;
    }
}

function show_table(s_id) {
    $("#table_error_" + s_id).remove();
    var s = sect_data[s_id];

    var res =  $("#results_" + s_id);
    if (s.table_rendered) {
        res.children().show();
    }
    else if (isInViewport(res[0])) {
        pt_cmp_configure_table(res, "table_" + s_id, all_jobs,
                s.pageable, s.table_data, s.add_title ? s.title : "",
                api_root + "/group/0/test/");
        s.table_rendered = true;
    }
    s.table_hidden = false;
}

function show_chart(s_id) {
    var s = sect_data[s_id];
    pt_configure_chart('chart_' + s_id, s.chart_type, s.has_failures,
            s.x_categories, s.x_name, s.x_type, s.x_rotate,
            s.y_name, s.series);
    s.chart_rendered = true;
}

function delayed_render() {
//    console.log("render start");
    Object.keys(sect_data).forEach(s_id => {
        var s = sect_data[s_id];
        if (group_data[s.g_id].collapsed)
            return; // we have to avoid rendering collapsed charts - the rendering is wrong
        if (!s.chart_rendered && s.chart_type !== NOCHART && isInViewport($("#chart_" + s_id)[0])) {
            show_chart(s_id);
            // console.log(s_id);
        }
        if (!s.table_rendered && s.table_type !== NOTABLE && !s.table_hidden && isInViewport($("#results_" + s_id)[0])) {
            show_table(s_id);
        }
    });
}

None = undefined;

var group_data = {
{% for g_tag, g in cmp_view.groups.items %}
 '{{ g.id }}' : {
      title: '{{ g.group_obj.title|safe }}'
     },
{% endfor %}
};

var sect_data = {
{% for g_tag, g in cmp_view.groups.items %} {% for s_tag, s in g.sections.items %}
'{{ s.id }}': { g_id: '{{ g.id }}', s_id: '{{ s.id }}',
    title: '{{ s.title }}', has_failures: {% if s.has_failures %}true{% else %}false{% endif %},
    chart_type: {{ s.chart_type }}, {% if s.chart_type != PTCmpChartType.NOCHART %}
    x_categories: {{ s.x_axis_categories|safe }},
    x_name: '{{ s.x_axis_name }}', x_type: '{{ s.x_axis_type }}', x_rotate: {{ s.x_axis_rotate }}, y_name: '{{ s.y_axis_name }}',
    series: [{% for serie in s.series %}{name: '{{ serie.legend|safe }}', data: {{ serie.data|safe }}{% if s.chart_trend_line %},trend: true{% endif %}},{% endfor %}],
{% endif %}    table_type: {{ s.table_type }}, {% if s.table_type == PTCmpTableType.SHOW %}
    pageable: {{ s.pageable|lower }}, add_title: {{ s.same_tag|lower }}, table_data: {{ s.table_data|safe }}, {% endif %}
     },{% endfor %}{% endfor %}
};

$(document).ready(function() {

    var main = $('#main_content_container');

    Object.keys(group_data).map(g_id => {
        var g = group_data[g_id];
        g.collapsed = false;
        var group = `<h3 class='pt_collapse expanded' id='gh_${g_id}' data-toggle='collapse' data-target='#data_${g_id}' aria-expanded='true'>` +
            `<a id='g_${g_id}'>${g.title}</a><span class="glyphicon glyphicon-triangle-bottom"/></h3>` +
            `<div class='collapse in' id='data_${g_id}'>`;
        main.append(group);
        pt_handle_collapsing("#gh_" + g_id, function (el, collapsed) {
            g.collapsed = collapsed;  // we have to avoid rendering collapsed charts - the rendering is wrong
        });
    });

    Object.keys(sect_data).map(s_id => {
        var s = sect_data[s_id];
        s.chart_rendered = false;
        s.table_rendered = false;
        s.table_hidden = false;

        var chart_div = (s.chart_type !== NOCHART) ?
            `<div id="chart_${s_id}" class='pt_chart'>Loading chart...</div>` : "";

        $(`#data_${s.g_id}`).append(
           `<span><h4 style="display: inline">${s.title}</h4>
            <span style="float: right"><a href='#g_${s.g_id}' title="Section Top"><span class="glyphicon glyphicon-menu-up"/></a>
            <a href='#s_${s_id}' id='s_${s_id}' title="Permanent Link"><span class="glyphicon glyphicon-link"/></a>
            <a onclick="toggle_table(${s.s_id})" title="Toggle table"><span class="glyphicon glyphicon-list"/></a>
            </span></span>${chart_div}<div id='results_${s_id}' class='pt_table' ></div>`
        );
    });

{% for job in jobs %}
    pt_ajax_job_details('{{ api_ver }}', {{ project.id }}, {{ job.id }});
{% endfor %}

    $(window).on('DOMContentLoaded load resize scroll', delayed_render);
    $('.collapse').on("shown.bs.collapse hidden.bs.collapse", delayed_render);
    delayed_render();

    $('.panel__btn_toggle').click(function () {
        $('.panel').toggle(0);
        if ($('.panel').hasClass('panel_opened')) {
          $('.panel').removeClass('panel_opened').addClass('panel_hidden');
          $(this).css({"bottom": "0"});
          $("i.fa.fa-angle-down").replaceWith('<i class="fa fa-angle-up"></i>');
        } else {
          $('.panel').removeClass('panel_hidden').addClass('panel_opened');
          $(this).css({"bottom": "70px"});
          $("i.fa.fa-angle-up").replaceWith('<i class="fa fa-angle-down"></i>');
        }
    });
});
</script>

{% endblock %}
