{% extends '_base.html' %}

{% load range_tag %}

{% block title %}Comparison: #{{ obj.id }} / {{ obj.title }}{% endblock %}

{% block content %}
<div class='pt_section'>
  <h3 class='pt_collapse expanded' data-toggle="collapse" data-target="#summary">Summary</h3>
  <div class='collapse in' id='summary'>
    <ul>
      {% for job in jobs %}
        <li>Job #{{ forloop.counter }}: <a href='/{{ project.id }}/job/{{ job.id }}'>{{ job }}</a></li>
      {% endfor %}
    </ul>
    <div class='container'>
      <a class='pt_collapse collapsed' data-toggle="collapse" data-target="#details" href='#'>more details</a>

      <div class='collapse container' id='details'>
        <h4>Comparison: {{ obj }}</h4>
        <div id='comparison_details'>...<br><br></div>
        {% for job in jobs %}
            <h4>Job: {{ job }}</h4>
            <div class='container'><div id='job_details_{{ job.id }}'></div></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<span style="float: right">
  <a onclick="show_all_tables()">Show tables</a>
  <a onclick="hide_all_tables()">Hide tables</a>
</span>

<div id="main_content_container"></div>

{% comment %}

Principal decision is not to use REST api to render comparisons, because:
1. comparisons are heavy so it is preferable to cache rendered HTML
2. it is pretty hard to join results:
   2.a need custom serializer, standard datatable-view will not work
   2.b need custom data join in ORM (join multiple tests from different jobs)

So we will use static HTML with couple tricks:
- group selector will be enabled
- tables with equal tag and different category:
  |- chart will be drawn by default
  |- table will be hidden by default
  `- table will have 20 items per page by default
- tables with unique rows:
  |- chart will be hidden by default
  `- table will be shown with full length by default
- datatable search will not work (will be disabled)
- charts will be rendered after scrolling down to it (and plus 3 charts above and 3 below)

{% endcomment %}


<script>

var api_root = "/api/v{{ api_ver }}/{{ project.id }}/comparison/{{ obj.id }}";
var all_jobs = [{% for job in jobs %}"{{ job.calculated_legend|default:job.title }}", {% endfor %}];
const NOCHART = {{ PTCmpChartType.NOCHART }};
const NOTABLE = {{ PTCmpTableType.HIDE }};

function hide_all_tables() {
    Object.keys(sect_data).map(s_id => hide_table(s_id));
}

function show_all_tables() {
    var request_failed = false;
    if (Object.values(sect_data).filter(s => !s.table_rendered).length) {
        $.ajax({
            url: api_root + "/tables",
            data: null,
            type: 'GET',
            async: false,
            timeout: 10000,
            success: function (response) {
                Object.keys(response).forEach(s_id => {
                    sect_data[s_id] = Object.assign({}, sect_data[s_id], response[s_id]);
                });
            },
            error: function (data, status, error) {
                Object.keys(data).forEach(s_id => table_loading_error_handler(s_id, error));
                request_failed = true;
            }
        });
    }

    if (request_failed) {
        return;
    }

    Object.keys(sect_data).forEach(s_id => show_table(s_id));
}

function toggle_table(s_id) {
    if (!sect_data[s_id].table_rendered) {
        $.ajax({
            url: api_root + "/group/{0}/section/{1}".ptFormat(0, s_id),
            data: null,
            type: 'GET',
            timeout: 10000,
            success: function (response) {
                sect_data[s_id] = Object.assign({}, sect_data[s_id], response[s_id]);
                show_table(s_id);
            },
            error: function (data, status, error) {
                table_loading_error_handler(s_id, error);
            }
        });
    } else {
        $("#table_" + s_id).is(":visible") ? hide_table(s_id) : show_table(s_id);
    }
}

function table_loading_error_handler(s_id, error) {
    if ($("#table_error_" + s_id).length) {
        return;
    }

    var s = "";
    s += "<div id=table_error_{0} class='alert alert-danger alert-dismissable'>".ptFormat(s_id);
    s += "<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&#215;</button>";
    s += "Table data loading error: " + error;
    s += "</div>";
    $('#results_' + s_id).append(s);
}

function hide_table(s_id) {
    if ($("#table_" + s_id).is(":visible")) {
        $("#results_" + s_id).children().hide();
    }
}

function show_table(s_id) {
    $("#table_error_" + s_id).remove();

    var tab_el = "#table_" + s_id;
    var tab = $(tab_el);
    if (tab.length) {
        if (tab.is(":hidden")) {
            $("#results_" + s_id).children().show();
        }
        return;
    }

    $("#results_" + s_id).append(pt_cmp_table_html(tab_el.substr(1), all_jobs));

    var sdata = sect_data[s_id];
    pt_configure_table_async(tab_el, sdata.pageable, api_root + "/group/0/test/", sdata.table_data);

    sect_data[s_id].table_rendered = true;
}

function show_charts() {
    Object.keys(sect_data).map(s_id => {
        var d = sect_data[s_id];
        if (d.chart_type !== NOCHART) {
            pt_configure_chart_async(
                'chart_' + s_id,
                d.chart_type,
                d.has_failures,
                d.x_categories,
                d.x_name,
                d.x_type,
                d.x_rotate,
                d.y_name,
                d.series,
            )
        }
    });
}

None = undefined;

var group_data = {
{% for g_tag, g in cmp_view.groups.items %}
 '{{ g.id }}' : {
      title: '{{ g.group_obj.title|safe }}',
      rendered: false
     },
{% endfor %}
};

var sect_data = {
{% for g_tag, g in cmp_view.groups.items %} {% for s_tag, s in g.sections.items %}
'{{ s.id }}': { g_id: '{{ g.id }}', s_id: '{{ s.id }}',
    s_title: '{{ s.title }}', has_failures: {% if s.has_failures %}true{% else %}false{% endif %},
    chart_type: {{ s.chart_type }}, {% if s.chart_type != PTCmpChartType.NOCHART %}
    x_categories: {{ s.x_axis_categories|safe }},
    x_name: '{{ s.x_axis_name }}', x_type: '{{ s.x_axis_type }}', x_rotate: {{ s.x_axis_rotate }}, y_name: '{{ s.y_axis_name }}',
    series: [{% for serie in s.series %}{name: '{{ serie.legend|safe }}', data: {{ serie.data|safe }}{% if s.chart_trend_line %},trend: true{% endif %}},{% endfor %}],
{% endif %}    table_type: {{ s.table_type }}, {% if s.table_type == PTCmpTableType.SHOW %}
    pageable: {{ s.pageable|lower }}, table_data: {{ s.table_data|safe }}, {% endif %}
     },{% endfor %}{% endfor %}
};

$(document).ready(function() {

    var main = $('#main_content_container');

    Object.keys(group_data).map(g_id => {
        var g = group_data[g_id];
        var group = `<h3 class='pt_collapse expanded' id='gh_${g_id}' data-toggle='collapse' data-target='#data_${g_id}' aria-expanded='true'>` +
            `<a id='g_${g_id}'>${g.title}</a><span class="glyphicon glyphicon-triangle-bottom"/></h3>` +
            `<div class='collapse in' id='data_${g_id}'>`;
        main.append(group);
        pt_handle_collapsing(`#gh_${g_id}`);
    });

    Object.keys(sect_data).map(s_id => {
        var s = sect_data[s_id];
        s.chart_rendered = false;
        s.table_rendered = false;

        var chart_div = (s.chart_type !== NOCHART) ?
            `<div id="chart_${s_id}" class='container collapse in pt_div_cmp pt_chart'>Loading chart...</div>` : "";

        $(`#data_${s.g_id}`).append(
           `<span><h4 style="display: inline">${s.s_title}</h4>
            <span style="float: right"><a href='#g_${s.g_id}' title="Section Top"><span class="glyphicon glyphicon-menu-up"/></a>
            <a href='#tc_${s_id}' id='tc_${s_id}' title="Permanent Link"><span class="glyphicon glyphicon-link"/></a>
            <a onclick="toggle_table(${s.s_id})" title="Toggle table"><span class="glyphicon glyphicon-list"/></a>
            </span></span>${chart_div}<div id='results_${s_id}' class='container collapse in pt_div_cmp' ></div>`
        );
    });

{% for job in jobs %}
   pt_ajax_job_details('{{ api_ver }}', {{ project.id }}, {{ job.id }});
{% endfor %}

   show_charts();
   Object.values(sect_data).forEach(s => s.table_data ? show_table(s.s_id) : 0);
});
</script>

{% endblock %}
