{% extends '_base.html' %}

{% block title %}Comparisons{% endblock %}

{% block content %}

<table id="comparisons" class="display dataTable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class='colExpander'></th>
      <th class='colID'>ID</th>
      <th class='colUpdated'>Updated</th>
      <th class='colProject'>Project</th>
      <th class='colEnv'>Env</th>
      <th class='colVersion'>Version</th>
      <th class='colTitle'>Comparison title</th>
      <th class='colJobs'>Jobs</th>
      <th class='colHidden'></th>
      <th class='colTests'>Tests</th>
      <th class='colErrors'>Errors</th>
      <th class='colEdit'>Edit</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class='colExpander'></th>
      <th class='colID'>ID</th>
      <th class='colUpdated'>Updated</th>
      <th class='colProject'>Project</th>
      <th class='colEnv'>Env</th>
      <th class='colVersion'>Version</th>
      <th class='colTitle'>Comparison title</th>
      <th class='colJobs'>Jobs</th>
      <th class='colHidden'></th>
      <th class='colTests'>Tests</th>
      <th class='colErrors'>Errors</th>
      <th class='colEdit'>Edit</th>
    </tr>
  </tfoot>
</table>


<script>
$(document).ready(function() {

    /*
     * 1. Comparisons list table
     */

    var table = $('#comparisons').DataTable( {
        "processing": true,
        "serverSide": true,
        "lengthMenu": [[50, 200, 1000, -1], [50, 200, 1000, "All"]],
        "ajax": "/api/v{{ api_ver }}/{{ project.id }}/comparison/",
        "order": [[ 2, "desc" ]],
        "columns": [
            {
                "className": 'pt_row_details_toggle',
                "orderable": false,
                "data":      null,
                "defaultContent": "<span class='glyphicon glyphicon-triangle-right' aria-hidden='true'></span>",
            },
            { "data": "id" },
            { "data": "updated" },
            { "data": "project" },
            { "data": "env_node" },
            { "data": "suite_ver" },
            { "data": "title" },
            { "data": "jobs" },
            { "data": "tests_total" },
            { "data": "tests_completed" },
            { "data": "tests_failed" },
            {
                "className": 'pt_row_compare_toggle',
                "orderable": false,
                "data":      null,
                "defaultContent": "<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>",
            },

        ],
        "columnDefs": [
            {
                "targets": "colID",
                "type": "integer",
                "render": function ( data, type, row ) {
                    return "<a href='/{0}/comparison/{1}'>{2}</a>".ptFormat(row.project.id, row.id, data);
                },
            },
            {
                "targets": "colUpdated",
                "type": "date",
                "render": function ( data, type, row ) {
                    return pt_date2str(data);
                },
            },
            {
                "targets": "colProject",
                "type": "string",
                {% if project.id != 0 %}
                    "visible": false,
                {% endif %}
                "render": function ( data, type, row ) {
                    return data.name;
                },
            },
            {
                "targets": "colEnv",
                "type": "string",
                "render": function ( data, type, row ) {
                    var str = '';
                    if (!data)
                        return '';
                    for (var i = 0; i < data.length; i++) {
                        if (typeof data[i].name == 'undefined')
                            continue;
                        if (str)
                            str += ", ";
                        str += data[i].name;
                    }
                    return str;
                },
            },
            {
                "targets": "colVersion",
                "type": "string",
                "orderData": [ 5, 1 ],
            },
            {
                "targets": "colTitle",
                "type": "string",
                "orderData": [ 6, 1 ],
                "render": function ( data, type, row ) {
                    return data;
                },
            },
            {
                "targets": "colJobs",
                "type": "string",
                "render": function ( data, type, row ) {
                    if (!data)
                        return '';
                    return data.length;
                },
            },
            {
                "targets": "colTests",
                "type": "string",
                "render": function ( data, type, row ) {
                    return data;
                },
            },
            {
                "targets": "colErrors",
                "type": "string",
                "createdCell": function (td, cellData, rowData, row, col) {
                    if ( cellData > 0 ) {
                        $(td).addClass('pt_job_test_errors');
                    }
                },
            },
            {
                "targets": [ "colHidden" ],
                "type": "string",
                "visible": false,
            }
        ],
    });

    /*
     * 2. Comparison details
     */
    $("#comparisons").on('click', 'td.pt_row_details_toggle', function() {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        var id = row.data().id;

        if ( row.child.isShown() ) {
            // This row is already open - close it
            $(this)[0].innerHTML = "<span class='glyphicon glyphicon-triangle-right' aria-hidden='true'></span>";
            $('#comparison_details_slider_{0}'.ptFormat(id), row.child()).slideUp(function() {
                row.child.hide()
                tr.removeClass('shown');
            });
        }
        else {
            $(this)[0].innerHTML = "<span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span>";
            $.ajax({
                url: '/api/v{{ api_ver }}/{{ project.id }}/comparison/{0}'.ptFormat(id),
                cache: true,
                data: null,
                type: 'GET',
                timeout: 2000,
                success: function(data, status) {
                    row.child(pt_draw_comparison_details(data, null)).show();
                    tr.next('tr').children().toggleClass('pt_row_details');
                    tr.addClass('shown');
                    $('#env_nodes_{0}'.ptFormat(id)).treetable({expandable: true});
                    $('#comparison_details_slider_{0}'.ptFormat(id), row.child()).slideDown();
                },
                error: function(data, status, error) {
                    row.child(pt_draw_comparison_details(row.data(), error)).show();
                    tr.next('tr').children().toggleClass('pt_row_details');
                    tr.addClass('shown');
                    $('#comparison_details_slider_{0}'.ptFormat(id), row.child()).slideDown();
                }
            });
        }
    });

    /*
     * 3. Comparison options
     */
    $("#comparisons").on('click', 'td.pt_row_compare_toggle', function() { alert("Sorry, not implemented"); return false; });

});
</script>

{% endblock %}
