{% extends '_base.html' %}

{% load range_tag %}

{% block title %}Comparison: #{{ obj.id }} / {{ obj.title }}{% endblock %}

{% block content %}
<div class='pt_section'>
  <h3 class='pt_collapse expanded' data-toggle="collapse" data-target="#summary">Summary</h3>
  <div class='collapse in' id='summary'>
    <ul>
      {% for job in jobs %}
        <li>Job #{{ forloop.counter }}: <a href='/{{ project.id }}/job/{{ job.id }}'>{{ job }}</a></li>
      {% endfor %}
    </ul>
    <div class='container'>
      <a class='pt_collapse collapsed' data-toggle="collapse" data-target="#details" href='#'>more details</a>

      <div class='collapse container' id='details'>
        <h4>Comparison: {{ obj }}</h4>
        <div id='comparison_details'>...<br><br></div>
        {% for job in jobs %}
            <h4>Job: {{ job }}</h4>
            <div class='container'><div id='job_details_{{ job.id }}'></div></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% comment %}

Principal decision is not to use REST api to render comparisons, because:
1. comparisons are heavy so it is preferable to cache rendered HTML
2. it is pretty hard to join results:
   2.a need custom serializer, standard datatable-view will not work
   2.b need custom data join in ORM (join multiple tests from different jobs)

So we will use static HTML with couple tricks:
- group selector will be enabled
- tables with equal tag and different category:
  |- chart will be drawn by default
  |- table will be hidden by default
  `- table will have 20 items per page by default
- tables with unique rows:
  |- chart will be hidden by default
  `- table will be shown with full length by default
- datatable search will not work (will be disabled)
- charts will be rendered after scrolling down to it (and plus 3 charts above and 3 below)

{% endcomment %}

{% for g_tag, g in cmp_view.groups.items %}
  <h3 class='pt_collapse expanded' data-toggle='collapse' data-target='#data_{{ g.id }}'>{{ g.group_obj.title }}</h3>
  <div class='collapse in' id='data_{{ g.id }}'>
  {% for s_tag, s in g.sections.items %}
    <h4>{{ s.title }}</h4>

    {% if s.chart_type != PTCmpChartType.NOCHART %}
      <div class='container collapse in pt_div_cmp'>
        <div id="chart_{{ g.id }}_{{ s.id }}" class='pt_chart'>Loading chart...</div>
      </div>
    {% endif %}
    {% if s.table_type == PTCmpTableType.SHOW %}
      <div class='container collapse in pt_div_cmp' id='results_{{ g.id }}_{{ s.id }}'>
        <table id="tests_{{ g.id }}_{{ s.id }}" class="display dataTable" cellspacing="0" width="100%">
          <thead>
            <tr>
            <th colspan='4'></th>
            {% for job in jobs %}
              <th class='pt_job' colspan='{{ forloop.counter0|add:"2" }}'>#{{ forloop.counter }} - {{ job.title }}</th>
            {% endfor %}
            </tr>
            <tr>
            <th class='colExpander'></th>
            <th class='colId'></th>
            <th class='colSeqNum'>#</th>
            <th class='colTag pt_left'>Tag</th>
            {% for job in jobs %}
              <th class='colScore pt_lborder'>Score</th>
              <th class='colDeviation pt_right'>&plusmn;%</th>
              {% range 1:forloop.counter as i %}
                <th class='colDiff pt_lborder pt_right'>% vs #{{ i }}</th>
              {% endrange %}
            {% endfor %}
            </tr>
          </thead>
        </table>
      </div>
    {% endif %}

  {% endfor %}
  </div>
{% endfor %}

<script>
function pt_test_details_draw_row(title, ar, func)
{
    var s = '<tr><td>' + title + '</td>';
    for (n = 0; n < ar.length; n++)
        s += '<td>' + func(ar[n]) + '</td>';
    return s + '</tr>';
}

function pt_test_details_draw(ar, err_msg)
{
    var s = '';
    var d = ar[0];
    var env_node = d.env_node;
    var vms = d.vms;
    var clients = d.clients;

    s += "<div class='pt_slider' id='test_details_slider_{0}'>".ptFormat(d.id);

    s += "<div class='row'>";

    s += "<div class='col-md-12'>";
    s += "<h4>Test details</h4>";
    s += "<table class='pt_obj_details'>";
    s += "<thead><th>Parameter</th><th colspan='" + ar.length + "'>Values</th></thead></tbody>";
    s += pt_test_details_draw_row('Scores', ar, function(d) { return "{0}".ptFormat(d.avg_score);});
    s += "<tr><td>Metrics</td><td colspan='" + ar.length + "'>" + "{0} ({1})".ptFormat(
           d.metrics, d.less_better ? 'smaller is better' : 'bigger is better') + "</td></tr>";
    s += "<tr><td>Group</td><td colspan='" + ar.length + "'>" + "{0}</td></tr>".ptFormat(d.group);
    s += "<tr><td>Category</td><td colspan='" + ar.length + "'>{0}</td></tr>".ptFormat(d.category);
    s += pt_test_details_draw_row('Cmdlines', ar, function(d) { return "<span class='pt_ellipsis'>{0}</span>".ptFormat(d.cmdline);});
    s += pt_test_details_draw_row('Descriptions', ar, function(d) { return "<span class='pt_ellipsis'>{0}</span>".ptFormat(d.description);});
    s += pt_test_details_draw_row('Raw scores', ar, function(d) { return "{0}".ptFormat(d.scores); });
    s += pt_test_details_draw_row('Errors', ar, function(d) { return "{0}".ptFormat(d.errors); });
    s += pt_test_details_draw_row('Raw deviations', ar, function(d) { return "{0}".ptFormat(d.deviations); });
    s += pt_test_details_draw_row('Test loops', ar, function(d) { return "{0}".ptFormat(d.loops ? d.loops : ''); });
    s += pt_test_details_draw_row('Timing', ar, function(d) { return "{0} - {1}".ptFormat(pt_date2str(d.begin), pt_date2str(d.end)); });
    s += pt_test_details_draw_row('Duration (s)', ar, function(d) { return "{0}".ptFormat(d.duration); });
    s += pt_test_details_draw_row('Links', ar, function(d) { return "{0}".ptFormat(d.links ? pt_draw_links(d.links) : ""); });
    s += "</tbody></table>";
    s += "</div>";

    s += "</div>"; /* row */

    s += "</div>"; /* pt_slider */

    return s;
}

function pt_tests_repopulate(table, group_id)
{
    if (typeof group_id == 'undefined')
        return;

    var link = "/api/v{{ api_ver }}/{{ project.id }}/comparison/{{ obj.id }}/group/{0}/test/".ptFormat(group_id);

    table.ajax.url(link).load(null, true);
}

$(document).ready(function() {
    var None = undefined;
    var id = {{ obj.id }};

    {% for job in jobs %}
        pt_ajax_job_details('{{ api_ver }}', {{ project.id }}, {{ job.id }});
    {% endfor %}

    var lengthMenu = [[50, 20, 200, 1000, -1], [50, 20, 200, 1000, "All"]];

    var columnDefs = [
      {
        "targets": "colExpander",
        "type": "string",
        "orderable": false,
        "className": 'pt_row_details_toggle',
        "render": function ( data, type, row ) {
          return "<span class='glyphicon glyphicon-triangle-right' aria-hidden='true'></span>";
        }
      },
      {
        "targets": [ "colId", "colCategory"],
        "type": "string",
        "visible": false,
      },
      {
        "targets": "colTag",
        "type": "string",
        "className": 'pt_left',
      },
      {
        "targets": "colScore",
        "type": "string",
        "className": 'pt_lborder',
      },
      {
        "targets": "colDeviation",
        "className": "pt_lborder pt_right",
        "type": "float",
        "render": function ( data, type, row ) {
          if (data == "-")
             return data;
          return data + "%";
        }
      },
      {
        "targets": "colDiff",
        "width": "45px",
        "type": "string",
        "className": 'pt_diff_equal pt_right',
        "createdCell": function (td, cellData, rowData, rowIndex, colIndex) {
          var data = rowData[colIndex];
          var ar = data.split(" ");
          var diff = "";
          if (ar[1] == '1') {
            $(td).attr('class', 'pt_diff_better pt_right');
          } else if (ar[1] == '-1') {
            $(td).attr('class', 'pt_diff_worse pt_right');
          }
          diff = ar[0];
          if (ar[0] > 0) {
            diff = "+" + diff;
          }
          if (diff != "-") {
            diff += "%";
          }
          $(td).html(diff);
        },
      },
    ];

    {% for g_tag, g in cmp_view.groups.items %}
      {% for s_tag, s in g.sections.items %}
        {% if s.chart_type != PTCmpChartType.NOCHART %}

          {% for serie in s.series %}
            var data_{{ forloop.counter }} = {{ serie.data|safe }};

            {% if s.chart_trend_line %}
              var regr_{{ forloop.counter }} = ecStat.regression('polynomial', data_{{ forloop.counter }}, 3);
              regr_{{ forloop.counter }}.points.sort(function(a, b) {
                return a[0] - b[0];
              });

            {% endif %}
          {% endfor %}

          var chart = echarts.init(document.getElementById('chart_{{ g.id }}_{{ s.id }}'));

          var option = {
            title: {
            },
            tooltip: {
                transitionDuration: 0,
                formatter: function(params) {
                    var s = params.seriesName + "<br>";
                {% if s.chart_type == PTCmpChartType.XYLINE %}
                    if (params.data.errors)
                        s += params.data.value[0] + " : " + params.data.value[1] + "<br>"
                             + params.data.errors + " iteration(s) failed";
                    else
                        s += params.data[0] + " : " + params.data[1];
                {% else %}
                    if (params.data.errors)
                        s += params.data.value + "<br>" + params.data.errors + " iteration(s) failed";
                    else
                        s += params.data;
                {% endif %}
                    return s;
                }
            },
            legend: {
                data: {{ s.legends|safe }},
                type: 'scroll',
                orient: 'vertical',
                right: 10,
                top: 50,
                width: 180,
                align: 'left',
            },
            xAxis: {
                data: {{ s.x_axis_categories|safe }},
                name: '{{ s.x_axis_name }}',
                type: '{{ s.x_axis_type }}',
                nameLocation: 'center',
                axisLabel: { rotate: {{ s.x_axis_rotate }} },
                nameGap: 30,
            },
            yAxis: {
                name: '{{ s.y_axis_name }}'
            },
            grid: {
                top: 50,
                right: 200,
                left: 50,
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            series: [
            {% for serie in s.series %}
              {
                name: '{{ serie.legend|safe }}',
                {% if s.chart_type == PTCmpChartType.XYLINE %}
                  type: 'line',
                  smooth: true,
                  smoothMonotone: 'none',
                {% elif s.chart_type == PTCmpChartType.BAR %}
                  type: 'bar',
                {% endif %}
                barGap: '0.1',
                animation: false,
                data: data_{{ forloop.counter }},
              },
              {% if s.chart_trend_line %}
              {
                name: '{{ serie.legend|safe }} (trend)',
                type: 'line',
                smooth: true,
                smoothMonotone: 'none',
                showSymbol: false,
                animation: false,
                data: regr_{{ forloop.counter }}.points,
                lineStyle: {
                  normal: {
                    color: 'gray',
                    width: 1,
                    type: 'dashed'
                  }
                },
              },
              {% endif %}
            {% endfor %}
            {% if s.chart_type == PTCmpChartType.XYLINE %}
               {name: 'Failed test', type: 'line', itemStyle: { color: '#000'}},
            {% endif %}
            ]
          };
          chart.setOption(option);
          {% if s.chart_type == PTCmpChartType.XYLINE %}
          {% elif s.chart_type == PTCmpChartType.XYLINE_WITH_TREND %}
          {% elif s.chart_type == PTCmpChartType.BAR %}
          {% elif s.chart_type == PTCmpChartType.BAR_WITH_TREND %}
          {% endif %}
        {% endif %}
        {% if s.table_type == PTCmpTableType.SHOW %}
          var data = [
          {% for t_tag, t in s.tests.items %}
            {{ t.table_data|safe }},
          {% endfor %}
          ];

          var table_{{ g.id }}_{{ s.id }} = $('#tests_{{ g.id }}_{{ s.id }}').DataTable({
/*          "processing": true, */
/*          "serverSide": true, */
            "lengthMenu": lengthMenu,
            {% if not s.pageable %}
              "bLengthChange" : false,
              "bInfo":false,
              "bPaginate": false,
            {% endif %}
            "bFilter": false,
            "data": data,
            "order": [[ 2, "asc" ]],
            "columnDefs": columnDefs,
          });

          // Add event listener for opening and closing details
          $('#tests_{{ g.id }}_{{ s.id }}').on('click', 'td.pt_row_details_toggle', function () {
            // FIXME, merge with jobs.html
            var tr = $(this).closest('tr');
            var row = table_{{ g.id }}_{{ s.id }}.row( tr );
            var id = row.data()[1]; // FIXME: colId index

            if ( row.child.isShown() ) {
              // This row is already open - close it
              $(this)[0].innerHTML = "<span class='glyphicon glyphicon-triangle-right' aria-hidden='true'></span>";
              $('#test_details_slider_{0}'.ptFormat(id), row.child()).slideUp(function() {
                row.child.hide()
                tr.removeClass('shown');
              });
            }
            else {
              $(this)[0].innerHTML = "<span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span>";
              $.ajax({
                url: '/api/v{{ api_ver }}/{{ project.id }}/comparison/{{ obj.id }}/group/0/test/{0}'.ptFormat(id),
                cache: true,
                data: null,
                type: 'GET',
                timeout: 2000,
                success: function(data, status) {
                  row.child(pt_test_details_draw(data, null)).show();
                  tr.next('tr').children().toggleClass('pt_row_details');
                  tr.addClass('shown');
                  tr.next('tr').children().find('.pt_slider').slideDown();
                },
                error: function(data, status, error) {
                  row.child(pt_test_details_draw(row.data(), error)).show();
                  tr.next('tr').children().toggleClass('pt_row_details');
                  tr.addClass('shown');
                  tr.next('tr').children().find('.pt_slider').slideDown();
                }
              });
            }
          });
        {% endif %}
      {% endfor %}
    {% endfor %}
});
</script>

{% endblock %}
