{% extends '_base.html' %}

{% block title %}Jobs{% endblock %}
{% block title_tail %}<div class='pt_object_menu' id='pt_object_menu'></div>{% endblock %}

{% block content %}

{% if hw_lock_timeline %}
  {% include '_hw_lock_timeline.html' %}
{% endif %}

{% include 'job_id_edit.html' %}

<table id="jobs" class="display dataTable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class='colExpander'></th>
      <th class='colID'>ID</th>
      <th class='colEndDate'>Test run end</th>
      <th class='colProject'>Project</th>
      <th class='colHw'>Env</th>
      <th class='colProdName'>Product name</th>
      <th class='colProdVer'>Product ver</th>
      <th class='colRunTitle'>Test run title</th>
      <th class='colTestVer'>Test ver</th>
      <th class='colDuration'>Duration</th>
      <th class='colHidden'></th>
      <th class='colTests'>Tests</th>
      <th class='colErrors'>Tests with errors</th>
      <th class='colTestcases'>Test cases</th>
      <th class='colTestcasesErrors'>TC with errors</th>
      <th class='colCompare'></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th class='colExpander'></th>
      <th class='colID'>ID</th>
      <th class='colEndDate'>Test run end</th>
      <th class='colProject'>Project</th>
      <th class='colHw'>Env</th>
      <th class='colProdName'>Product name</th>
      <th class='colProdVer'>Product ver</th>
      <th class='colRunTitle'>Test run title</th>
      <th class='colTestVer'>Test ver</th>
      <th class='colDuration'>Duration</th>
      <th class='colHidden'></th>
      <th class='colTests'>Tests</th>
      <th class='colErrors'>Tests with errors</th>
      <th class='colTestcases'>Test cases</th>
      <th class='colTestcasesErrors'>TC with errors</th>
      <th class='colCompare'></th>
    </tr>
  </tfoot>
</table>
<br>

<!-- File upload -->

<footer class="navbar-default navbar-fixed-bottom pt_file_upload_dialog">
<div class="container">
<h4>Manual job json upload</h4>
<div class='row'>
  <form class='navbar-form' id='pt_job_upload_form' method='POST' enctype="multipart/form-data">
    <div class='col-md-6'>
      <span class="pt_control_fileupload">
        <label for="file">Choose a file to upload:</label>
        <input type="file" id="job_file" name="job_file">
      </span>
    </div>
    <div class='col-md-4'>
      <input type="text" class="form-control" id="job_title" name="job_title" aria-describedby="textHelp" placeholder="Override job title">
    </div>
    <div class='col-md-1'>
      <button type="submit" class="btn btn-primary pt_right" id='pt_btn_upload' disabled="disabled">Upload</button>
    </div>
    <div class='col-md-1'>
      <button type="cancel" class="btn btn-default pt_right" id='pt_btn_upload_cancel'>Cancel</button>
    </div>
  </form>
</div>
<div class="container">&nbsp;</div>
</div>
</footer>

<script>
$(function() {
  $('input[type=file]').change(function(){
    var t = $(this).val();
    var labelText = 'File : ' + t.substr(12, t.length);
    $(this).prev('label').text(labelText);
    $("#pt_btn_upload").attr('disabled', false);
  })
});
</script>

<!-- /File upload -->

<!-- Comparison -->

<footer class="navbar-default navbar-fixed-bottom pt_job_comparison_dialog">
  <div class="container">
    <form class='navbar-form' id='pt_comparison_form'>
      <div class='row'>

        <div class='col-md-9'>
          <h4>Comparison</h4>
          <div class="input-group">
            <span class="input-group-addon pt_job_comparison_title" id="basic-addon1">Title:</span>
            <input type="text" class="form-control" placeholder="Title" id='pt_comparison_title'>
          </div>
          <h4>Jobs to compare</h4>
          <ul id='pt_jobs_to_compare'>
          </ul>
          <div>
            <button type="cancel" class="btn btn-default" id='pt_btn_cancel'>Cancel</button>
            <button type="submit" class="btn btn-primary pt_right" id='pt_btn_save'>Save</button>
            <button type="submit" class="btn btn-default pt_right" id='pt_btn_preview'>Preview</button>
          </div>
        </div>

        <div class='col-md-3 pt_comparison_options'>
          <h4>Comparison options</h4>
          <div class="input-group input-group-sm">
            <span class="input-group-addon pt_job_comparison_title" id="basic-addon1">Charts:</span>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="pt_charts_type"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Auto
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="pt_charts_type">
                {% for value, text in cmp_form.charts_type.field.choices %}
                    <li><a href='#' class="chart-type" >{{ text }}</a></li>
                    {% if value == 0 %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="input-group input-group-sm">
            <span class="input-group-addon pt_job_comparison_title" id="basic-addon1">Tables:</span>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="pt_tables_type"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Auto
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="pt_tables_type">
                {% for value, text in cmp_form.tables_type.field.choices %}
                    <li><a href='#' class="tables-type" >{{ text }}</a></li>
                    {% if value == 0 %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="input-group input-group-sm">
            <span class="input-group-addon pt_job_comparison_title" id="basic-addon1">Tests:</span>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="pt_tests_type"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Auto
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="pt_tests_type">
                {% for value, text in cmp_form.tests_type.field.choices %}
                    <li><a href='#' class="tests-type" >{{ text }}</a></li>
                    {% if value == 0 %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="input-group input-group-sm">
            <span class="input-group-addon pt_job_comparison_title" id="basic-addon1">Compare:</span>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="pt_values_type"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Auto
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="pt_values_type">
                {% for value, text in cmp_form.values_type.field.choices %}
                    <li><a href='#' class="values-type" >{{ text }}</a></li>
                    {% if value == 0 %}
                        <li role="separator" class="divider"></li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>

        </div>
      </div> <!-- form //-->
    </form>
  </div>
</footer>

<!-- /Comparison -->

<script>
$(document).ready(function() {

    var cmp_edited_id = -1;
    var jobs_in_comparison = {};

    /*
     * 1. Jobs list table
     */
    var project_visible = true;
    {% if project.id != 0 %}
    project_visible = false;
    {% endif %}

    var table = $('#jobs').DataTable( {
        "processing": true,
        "serverSide": true,
        "lengthMenu": [[50, 200, 1000, -1], [50, 200, 1000, "All"]],
        "ajax": "/api/v{{ api_ver }}/{{ project.id }}/job/",
        "order": [[ 2, "desc" ]],
        "columns": [
            {
                "className": 'pt_row_details_toggle',
                "orderable": false,
                "data":      null,
                "defaultContent": "<span class='glyphicon glyphicon-triangle-right' aria-hidden='true'></span>",
            },
            { "data": "id" },
            { "data": "end" },
            { "data": "project" },
            { "data": "env_node" },
            { "data": "product_name" },
            { "data": "product_ver" },
            { "data": "title" },
            { "data": "suite_ver" },
            { "data": "duration" },
            { "data": "tests_total" },
            { "data": "tests_completed" },
            { "data": "tests_errors" },
            { "data": "testcases_total" },
            { "data": "testcases_errors" },
            {
                "className": 'pt_row_compare_toggle',
                "orderable": false,
                "data":      null,
                "defaultContent": "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span>",
                "render": function (data) {
                    if (data['id'] in jobs_in_comparison)
                        return "<span class='glyphicon glyphicon-check' id='pt_cmp_toggle_{0}' aria-hidden='true'></span>".ptFormat(data['id']);
                    else
                        return "<span class='glyphicon glyphicon-plus' id='pt_cmp_toggle_{0}' aria-hidden='true'></span>".ptFormat(data['id']);
                },
            },
        ],
        "columnDefs": [
            {
                "targets": "colEndDate",
                "type": "date",
                "render": function ( data, type, row ) {
                    return pt_date2str(data);
                },
            },
            {
                "targets": "colID",
                "type": "integer",
                "render": function ( data, type, row ) {
                    return "<a href='/{0}/job/{1}'>{2}</a>".ptFormat(row.project.id, row.id, data);
                },
            },
            {
                "targets": "colDuration",
                "type": "date",
                "render": function ( data, type, row ) {
                    return pt_dur2str(data);
                },
            },
            {
                "targets": "colProject",
                "type": "string",
                "visible": project_visible,
                "render": function ( data, type, row ) {
                    return data.name;
                },
            },
            {
                "targets": "colHw",
                "type": "string",
                "render": function ( data, type, row ) {
                    return data.map(env => env.display_name || '').join(", ");
                },
            },
            {
                "targets": "colRunTitle",
                "type": "string",
                "orderData": [ 7, 1 ],
                "render": function ( data, type, row ) {
                    return data;
                },
            },
            {
                "targets": "colTestVer",
                "type": "string",
                "orderData": [ 8, 1 ],
            },
            {
                "targets": "colTests",
                "type": "string",
                "render": function ( data, type, row ) {
                    if (data == row.tests_total)
                        return data;
                    return data +' (of ' + row.tests_total + ')';
                },
            },
            {
                "targets": ["colErrors", "colTestcasesErrors"],
                "type": "integer",
                "createdCell": function (td, cellData, rowData, row, col) {
                    if ( cellData > 0 ) {
                        $(td).addClass('pt_test_errors');
                    }
                },
            },
            {
                "targets": [ "colHidden" ],
                "type": "string",
                "visible": false,
            }
        ],
        "initComplete": function () {
            for (const [key, value] of Object.entries(jobs_in_comparison)) {
                var elem = document.getElementById('pt_cmp_toggle_{0}'.ptFormat(key));
                var tr = $(elem).closest('tr');
                tr.addClass('selected');
            }

            if (cmp_edited_id == 0) {
                $("#jobs td.pt_row_compare_toggle").first().click()
            }
        }
    });

    /*
     * 2. Job details opening / closing
     */

    $('#jobs').on('click', 'td.pt_row_details_toggle', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        var id = row.data().id;

        if ( row.child.isShown() ) {
            // This row is already open - close it
            $(this)[0].innerHTML = "<span class='glyphicon glyphicon-triangle-right' aria-hidden='true'></span>";
            $('#job_details_slider_{0}'.ptFormat(id), row.child()).slideUp(function() {
                row.child.hide()
                tr.removeClass('shown');
            });
        }
        else {
            $(this)[0].innerHTML = "<span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span>";
            $.ajax({
                url: '/api/v{{ api_ver }}/{{ project.id }}/job/{0}'.ptFormat(id),
                cache: true,
                data: null,
                type: 'GET',
                timeout: 2000,
                success: function(data, status) {
                    row.child(pt_draw_job_details(data, null)).show();
                    tr.next('tr').children().toggleClass('pt_row_details');
                    tr.addClass('shown');
                    $('#env_nodes_{0}'.ptFormat(id)).treetable({expandable: true});
                    $('#job_details_slider_{0}'.ptFormat(id), row.child()).slideDown();
                },
                error: function(data, status, error) {
                    row.child(pt_draw_job_details(row.data(), error)).show();
                    tr.next('tr').children().toggleClass('pt_row_details');
                    tr.addClass('shown');
                    $('#job_details_slider_{0}'.ptFormat(id), row.child()).slideDown();
                }
            });
        }
    });

    /*
     * 3. Add to comparison
     */
    $("#pt_jobs_to_compare" ).sortable();

    $('#jobs').on('click', 'td.pt_row_compare_toggle', function() {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        var id = row.data().id;
        var title = row.data().title;

        if (cmp_edited_id < 0)
            cmp_edited_id = 0; // new comparison

        var adjust_body_margin = function() {
            $("body").css('margin-bottom', '{0}px'.ptFormat($(".pt_job_comparison_dialog").outerHeight() + 20));
        }

        if (id in jobs_in_comparison) {
            /* Remove from comparison */
            $(this)[0].innerHTML = "<span class='glyphicon glyphicon-plus' id='pt_cmp_toggle_{0}' aria-hidden='true'></span>".ptFormat(id);
            $(tr).removeClass('selected');
            if (Object.keys(jobs_in_comparison).length == 1) {
                $(".pt_job_comparison_dialog").slideUp("slow");
                $("body").css('margin-bottom: 10px;');
            }
            $("#pt_job_selector_{0}".ptFormat(id)).remove();
            delete jobs_in_comparison[id];
        } else {
            /* Add to comparison */
            $(this)[0].innerHTML = "<span class='glyphicon glyphicon-check' id='pt_cmp_toggle_{0}' aria-hidden='true'></span>".ptFormat(id);
            if (!$(tr).hasClass('selected'))
                $(tr).addClass('selected');
            if (Object.keys(jobs_in_comparison).length == 0)
                $(".pt_job_comparison_dialog").slideDown("slow", adjust_body_margin());
            else
                adjust_body_margin();
            $("#pt_jobs_to_compare").append(
                "<li id='pt_job_selector_{0}'>#{0}, {1}<input type='hidden' name='job_{0}' value='{0}'>".ptFormat(id, title) +
                "<span data-for-id='pt_cmp_toggle_{0}' style='float: right;' class='glyphicon glyphicon-remove'></span></li>".ptFormat(id));

            $("#pt_job_selector_{0} span".ptFormat(id)).on('click', function() {
                $("#" + $(this).data("for-id")).click()
            })

            jobs_in_comparison[id] = title;
        }

        pt_comparison_enable_disable_buttons(Object.keys(jobs_in_comparison).length > 0);

        var job_ids = [];
        var job_titles = [];

        $("#pt_jobs_to_compare li input").each(function(n) {
            var id = parseInt($(this).attr("value"));
            job_ids.push(id);
            job_titles.push(jobs_in_comparison[id]);
        });

        $("#pt_comparison_title").attr("placeholder", pt_gen_comparison_title(job_ids, job_titles));
    });

    /*
     * 4. Comparison options selection
     */

    $('div.input-group ul.dropdown-menu li a').click(function (e) {
        var $div = $(this).parent().parent().parent();
        var $btn = $div.find('button');
        $btn.html($(this).text() + ' <span class="caret"></span>');
        $div.removeClass('open');
        e.preventDefault();
        return false;
    });

    /*
     * 5. Comparison preview
     */

    $('#pt_btn_preview').click(function (e) {
        alert("Sorry, not implemented yet!");
        return false;
    });

    $('#pt_btn_save').on('click', function (e) {

        var payload = {};
        payload.title = $('#pt_comparison_title').val() || $("#pt_comparison_title").attr("placeholder");
        payload.charts_type = $.trim($("#pt_charts_type").text());
        payload.tables_type = $.trim($("#pt_tables_type").text());
        payload.tests_type = $.trim($("#pt_tests_type").text());
        payload.values_type = $.trim($("#pt_values_type").text());
        payload.jobs = Array();

        var elements = $('#pt_jobs_to_compare').find('input');
        for (var i = 0; i < elements.length; i++) {
            payload.jobs.push(parseInt(elements[i].value));
        }

        if (cmp_edited_id > 0) {
            $.ajax({
                url: '/api/v{{ api_ver }}/{{ project.id }}/comparison/{0}'.ptFormat(cmp_edited_id),
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(payload),
                success: function () {
                    window.location.replace("/{{ project.id }}/comparison/");
                },
                error: function (xhr) {
                    alert('Error: ' + xhr.status + ' ' + xhr.responseText);
                }
            });
        }

        else if (cmp_edited_id == 0) {
            $.ajax({
                url: '/api/v{{ api_ver }}/{{ project.id }}/comparison/',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(payload),
                success: function (result) {
                    window.location.replace("/{{ project.id }}/comparison/" + result.id)
                },
                error: function (xhr, resp, text) {
                    console.log("Form comparison sumbit failed", xhr, resp, text);
                    alert("Status: {0} ({1}), {2}".ptFormat(xhr.status, xhr.statusText, xhr.reponseText));
                }
            });
        }
        return false;
    });

    /*
     * 6. Other settings
     */

    $('.chart-type').click(function () {
        $('#pt_charts_type').text($(this).text());
    });
    $('.tables-type').click(function () {
        $('#pt_tables_type').text($(this).text());
    });
    $('.tests-type').click(function () {
        $('#pt_tests_type').text($(this).text());
    });
    $('.values-type').click(function () {
        $('#pt_values_type').text($(this).text());
    });

    $('#pt_btn_cancel').click(function () {
        $("#pt_jobs_to_compare span").each(function() {
            $(this).click();
        });
        $(".pt_job_comparison_dialog").slideUp("slow");
        return false;
    });

    /*
     * 7. Job results upload
     */

    var el = $('<a>Manual Job results upload</a>')
    el.appendTo("#pt_object_menu")
    el.on('click', function() {
        $("#pt_btn_cancel").click();
        $(".pt_file_upload_dialog").slideDown("slow");
    });

    $("<span>|</span>").appendTo("#pt_object_menu")
    $("<a window=_blank onclick=\"window.location.replace('/{0}/job/?edit=0');return false;\" >New comparison</a>".ptFormat({{ project.id }})).appendTo("#pt_object_menu")

    $("#pt_btn_upload_cancel").on('click', function() {
        $(".pt_file_upload_dialog").slideUp("slow");
        return false;
    });

    /*
     * 8. Editing comparison
     */

    if (window.location.search.indexOf('edit=') > -1) {
        var url_params = new URLSearchParams(window.location.search);
        cmp_edited_id = url_params.get('edit');
        if (cmp_edited_id > 0)
            pt_cmp_edit_cb();
    }

    function pt_cmp_edit_cb() {
        var api_ver = '{{ api_ver }}';
        var project_id = {{ project.id }};

        var adjust_body_margin = function () {
            $("body").css('margin-bottom', '{0}px'.ptFormat($(".pt_job_comparison_dialog").outerHeight() + 20));
        }
        $(".pt_job_comparison_dialog").slideDown("slow", adjust_body_margin());
        pt_comparison_enable_disable_buttons(Object.keys(jobs_in_comparison).length > 0);

        $.ajax({
            url: "/api/v{0}/{1}/comparison/{2}".ptFormat(api_ver, project_id, cmp_edited_id),
            cache: true,
            data: null,
            type: 'GET',
            async: false,
            timeout: 2000,
            success: function (data) {
                $('#pt_comparison_title').val(data.title);
                $('#pt_charts_type').text(document.getElementsByClassName("chart-type")[data.charts_type].text);
                $('#pt_tables_type').text(document.getElementsByClassName("tables-type")[data.tables_type].text);
                $('#pt_tests_type').text(document.getElementsByClassName("tests-type")[data.tests_type].text);
                $('#pt_values_type').text(document.getElementsByClassName("values-type")[data.values_type].text);

                $.each(data.jobs, function () {
                    id = this['id']
                    jobs_in_comparison[id] = this['title'];
                    $("#pt_jobs_to_compare").append(
                        "<li id='pt_job_selector_{0}'>#{0}, {1}<input type='hidden' name='job_{0}' value='{0}'>".ptFormat(id, this['title']) +
                        "<span data-for-id='pt_cmp_toggle_{0}' style='float: right;' class='glyphicon glyphicon-remove'></span></li>".ptFormat(id));

                    $("#pt_job_selector_{0} span".ptFormat(id)).on('click', function() {
                        $("#" + $(this).data("for-id")).click()
                    })
                });

                pt_comparison_enable_disable_buttons(Object.keys(jobs_in_comparison).length > 0);
            },
            error: function (xhr) {
                alert('Error: ' + xhr.status + ' ' + xhr.responseText);
            }
        });
    }
});
</script>

{% endblock %}
