<style type='text/css'>
    #btn_show_job_dialog {
        display: none;
    }
</style>

<!-- The modal -->
<div class="modal fade-scale" id="JobDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <button class="btn btn-primary btn-lg" id="btn_show_job_dialog" data-toggle="modal"
                    data-target="#JobDialog"></button>

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="jobLabel"></h4>
            </div>

            <div class="modal-body">
                <form id="jobForm">
                    <div class="form-group">
                        <label for="Product name">Product name</label>
                        <input type="hidden" id="jobId">
                        <input type="product_name" class="form-control" id="productName" maxlength="128"
                               placeholder="Product Name" value="">
                    </div>

                    <div class="form-group">
                        <label for="Product ver">Product ver</label>
                        <input type="product_ver" class="form-control" id="productVer" maxlength="128"
                               placeholder="Product Ver" value="">
                    </div>

                    <div class="form-group">
                        <label for="Job Title">Title</label>
                        <input type="title" class="form-control" id="jobTitle" maxlength="512" placeholder="Job Title"
                               value="">
                    </div>

                    <div class="form-group">
                        <label for="Suite ver">Test ver</label>
                        <input type="suite_ver" class="form-control" id="suiteVer" maxlength="128"
                               placeholder="Suite Ver" value="">
                    </div>

                    <div class="form-group">
                        <label for="Links">Links</label>
                        <textarea type="links" class="form-control" id="links" maxlength="1024"
                                  placeholder='{"link1": "http://www.example.com", "link2": "www.google.com"}'
                                  value=""></textarea>
                    </div>

                    <div class='pt_button_group'>
                        <button type="submit" id="saveButton" class="btn btn-primary pull-right float-right">Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function pt_job_undelete_cb(job_id) {
        var api_ver = '{{ api_ver }}';
        var project_id = {{ project.id }};

        $.getJSON("/api/v{0}/{1}/job/{2}".ptFormat(api_ver, project_id, job_id), function (data) {
            data.is_edited = true;
            data.append = true;
            data.deleted = 'False'
            data.project_name = data.project.name;
            $.ajax({
                url: '/api/v{0}/{1}/job/{2}'.ptFormat(api_ver, project_id, job_id),
                type: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (xhr) {
                    location.reload();
                },
                error: function (xhr) {
                    alert('Error: ' + xhr.status + ' ' + xhr.responseText);
                }
            });
            return false;
        });
    }

    function pt_job_edit_cb(job_id) {
        var api_ver = '{{ api_ver }}';
        var project_id = {{ project.id }};

        $('#btn_show_job_dialog').click();
        $("#jobLabel").html("Editing job #{0}".ptFormat(job_id));

        $.getJSON("/api/v{0}/{1}/job/{2}".ptFormat(api_ver, project_id, job_id), function (data) {
            $("#jobId").val(job_id);
            $("#productName").val(data.product_name);
            $("#productVer").val(data.product_ver);
            $("#jobTitle").val(data.title);
            $("#suiteVer").val(data.suite_ver);
            $("#links").val(data.links);

            $('#saveButton').off('click');
            $('#saveButton').on('click', function () {
                data.is_edited = true;
                data.append = true;
                data.product_name = $("#productName").val();
                data.product_ver = $("#productVer").val();
                data.title = $("#jobTitle").val();
                data.suite_ver = $("#suiteVer").val();
                data.links = $("#links").val();
                data.project_name = data.project.name;

                $.ajax({
                    url: '/api/v{0}/{1}/job/{2}'.ptFormat(api_ver, project_id, job_id),
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (xhr) {
                        location.reload();
                    },
                    error: function (xhr) {
                        alert('Error: ' + xhr.status + ' ' + xhr.responseText);
                    }
                });
                return false;
            });
        });
    }
</script>
