body {
  margin-bottom: 10px;
}

.form-login {
  padding: 1em;
  min-width: 280px; /* change width as per your requirement */
}

.navbar-brand {
  font-size: 85%;
  width: 100px;
}

a.navbar-brand img {
  height: 20px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 12px;
  margin-bottom: 7px;
}
