body {
  margin-bottom: 10px;
}

.form-login {
  padding: 1em;
  min-width: 280px; /* change width as per your requirement */
}

.navbar-brand {
  font-size: 85%;
  width: 100px;
}

a.navbar-brand img {
  height: 20px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin-top: 12px;
  margin-bottom: 7px;
}

/*
 * Modal window customization
 */

.modal-title {
  margin: 0;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  background-color: #3072ab;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header button.close {
  color: #ccc;
  opacity: 1;
}

.modal-header a {
  color: #eee;
  text-decoration: underline;
}

.modal-header a:hover {
  color: #fff;
}

/*
Panel styles
 */

.panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2px;
  align-items: center;
  min-height: 0;
  min-width: 0;
  text-overflow: ellipsis;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 0;
  border-top: 1px solid #b0b5b1;
  left: 0;
  bottom: 0;
  color: #333333;
  background: #f0f0f0;
  height: 130px;
  margin: 0;
}

.panel__btn_toggle {
  position: fixed;
  bottom: 20px;
  right: 2%;
  width: 4%;
  height: 2%;
  min-height: 17px;
  min-width: 50px;
  border: 1px solid black;
  background-color: #f0f0f0;
}

.panel__unit_hide-tables {
  grid-area: 1/1/2/2;
  overflow: hidden;
}

.panel__unit_show-tables {
  grid-area: 2/1/3/2;
  overflow: hidden;
}

.panel__unit_go-to {
  grid-area: 1/4/2/5;
  overflow: hidden;
}

.panel__unit_show-selected {
  grid-area: 1/2/2/3;
  overflow: hidden;
}

.panel__unit_unselect {
  grid-area: 2/2/3/3;
  overflow: hidden;
}

span.input-group.input-group-sm.mb-3 input[class="form-control"] {
  border-radius: 10px;
}

.panel h4 {
  margin: 4px 0 0 4px;
}

.panel__btn_drop {
  margin: 0 0 0 4px;
}

/*
Go To button styles: BEGIN
*/

.panel_dropup-content {
  display: none;
  position: absolute;
  font-weight: bold;
  bottom: 126px;
  margin-left: 4px;
  background-color: #f0f0f0;
  border: 1px solid #b0b5b1;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  width: 10%;
  height: 150%;
  overflow-y: auto;
  overflow-x: auto;
}

.panel_dropup-content a {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
}

.panel_dropup-content a:hover {
  background-color: #414854;
  color: white;
}

.panel__unit_go-to:hover .panel_dropup-content {
  display: block;
}

.panel__unit_go-to:hover .panel__btn_drop{
  background-color: transparent;
  color: #c9d1cb;
}

/*
Go To button styles: END
*/

@media (max-width: 850px) {
  .panel_dropup-content {
    right: 8%;
  }

  .panel h4 {
    font-size: 1.1rem;
  }
}

.panel__show_cntl {
  position: fixed;
  height: 20px;
  background-color: #cfccc4;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

.panel__button-controller button {
  padding: 8px 20px;
  text-align: center;
  width: 60%;
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 3px;
}

.panel__button-controller button:hover {
  background-color: #414854;
  color: #fff;
}
